html,body{
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
}
*::selection{appearance: none;}
a{appearance: none;}
a{
    text-shadow: 10px 0px 50px red;
    color: orange;
}
a:hover{
    cursor: grab;
}
html::-webkit-scrollbar {visibility: hidden;}
body {
	text-align: center;
    background-color: antiquewhite;
    overflow: hidden;
}
h1{
    font-size: 40px;
    margin-top: 50px;
    font-family: "幼圆","宋体","微软雅黑";
}
span{
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: none;
	float: inherit;
	font-family: gameFont ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    position: fixed;
	font-size: 14px;
    z-index: -1;
    bottom: 0;
    right: 0;
    font-family: gameFont ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
    font-size: 14px;
    padding: 0;
}
p[B = no]{
    color: blue;
    text-shadow: 5px 5px 10px lightblue;
}
p[B = yes]{
    color: goldenrod;
    text-shadow: 5px 5px 10px gold;
}
@font-face {
    font-family: gameFont;
    src: url(gamefont.ttf);
}
img,.active{
    position: absolute;
    top: 24%;
    width: 24%;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
}
.active{
    transform: scale(1);
    -webkit-transform: scale(1);
}
canvas,div{
    position: absolute;
    left: 50%;
    width: 72%;
    height: 72%;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);/*居中*/
    margin-top: 50px;
}
div{
    z-index: 1;
}
#temp{
    position: fixed;
    top: 200%;
    left: 200%;
    transform: scale(0.1);
    -webkit-transform: scale(0.1);
}
.ttx{
    position: fixed;
    left:20%;
    bottom : 0;
    z-index: -1;
    font-size: 12px;
}
.click{
	background-color: aliceblue;
	opacity: 0.7;
	transition: opacity 500ms;
	color: red;
}
.click:hover{
	opacity: 1;
	background-color: aquamarine;
	color: blueviolet;
}
.click:active{
	background-color: yellowgreen;
	color:violet
}
#bg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99999;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 16%;
    height: 10%;
}